build/
CMakeUserPresets.json
install-*
benchmark/benchmark*
build-matar-*
install/*
heffte/
docs_doxygen/
docs_sphinx/
tutorial/getting_started/Example*/build_*
tutorial/getting_started/Example*/install*
examples/mesh_decomp/lib/*
test/googletest/
